body {
    background-color: bisque;
    font-family: 'Quicksand', sans-serif;
}
.box-lyrics {
    width: 100%;
    line-height: 1;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
